name: CI
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Python 3
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install matplotlib
          pip install pytest
          pip install pylint
          pip install mypy
      - name: Install symplyphysics
        run: python3 setup.py install
      - name: Run typechecking with mypy
        run: mypy --exclude=build .
      - name: Run linter with pylint
        run: pylint --fail-under=9 ./test/**/*.py ./symplyphysics
      - name: Run tests with pytest
        run: pytest
      - name: Run examples
        run: |
          for f in ./examples/*/*.py; do
            printf "\n-------- '%s'\n" "$(basename $f)"
            python "$f";
          done
      - name: Run plots
        run: |
          for f in ./plots/*/*.py; do
            printf "\n-------- '%s'\n" "$(basename $f)"
            python "$f";
          done